body {
  font-family: Arial, sans-serif;
  padding: 10px 20px;
}

button {
  display: inline-block;
  margin-bottom: 1rem;
  background: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;

  &:hover {
    background: #2980b9;
  }
}
